<nav class="navbar navbar-toggleable-xl navbar-inverse bg-lighter">
  <button class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" routerLink="/"><span>honbot</span></a>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <form class="form-inline my-0" (ngSubmit)="onSubmit()">
        <input [(ngModel)]="search" name="search" class="form-control mr-sm-2" type="text" placeholder="nickname">
        <button style="position: absolute;top: -1000px;" type="submit">Go</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/hero">heroes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
