.navbar {
  padding-top: .3em;
  padding-bottom: .3em;
  border-bottom: 1px #228B22 solid;
  margin-bottom: .5em;
}



@media (min-width: 576px){
  .container {
    width: 510px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 690px;
  }
}
@media (min-width: 992px){
  .container {
    width: 930px;
  }
}
@media (min-width: 1200px){
  .container {
    width: 1110px;
  }
}
