<nav class="navbar navbar-toggleable-xl navbar-light bg-lighter">
  <button class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><span>honbot</span></a>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul> -->
      <form class="form-inline my-0" (ngSubmit)="onSubmit()">
        <input [(ngModel)]="search" name="search" class="form-control mr-sm-2" type="text" placeholder="Username">
        <button style="position: absolute;top: -1000px;" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Go</button>
      </form>
    </div>
  </div>
</nav>
