<div class="row">
  <div class="col-lg-8">
    <legend class="mt-2">
      Latest Matches
      <small class="float-right mt-3"><a [routerLink]="['matches']">+more</a></small>
    </legend>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Hero</th>
          <th>Result</th>
          <th>Type</th>
          <th>Duration</th>
          <th>KDA</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td>
            Loading...
          </td>
        </tr>
        <tr *ngFor="let m of matches">
          <td>
            <img width="40" height="40" src="https://www.heroesofnewerth.com/images/heroes/{{m.hero_id}}/icon_128.jpg">
          </td>
          <td>
            <div>
              <a [routerLink]="['/match', m.match_id]">
                <strong *ngIf="m.win" class="text-success">Won Match</strong>
                <strong *ngIf="!m.win" class="text-danger">Lost Match</strong>
              </a>
            </div>
            <small>{{ m.date | timeAgo }}</small>
          </td>
          <td>
            <div>{{ m | matchMode }}</div>
            <small>
              <hb-bracket  [matchId]="m.match_id"></hb-bracket>
            </small>
          </td>
          <td>
            {{ m.length / 60 | number:'1.0-0' }} Minutes
            <bar [value]="m.length" [max]="maxLength"></bar>
          </td>
          <td>{{ m.kills }}/{{ m.deaths }}/{{ m.assists }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
