@import "custom";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$enable-shadows: true;
$enable-gradients: true;

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";


// material
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the theme.
$candy-app-primary: mat-palette($mat-grey, 50);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the theme styles for only specified components.
@include mat-progress-spinner-theme($candy-app-theme);


.bg-lighter {
  background-color: lighten($body-bg, 10%);
}
.navbar {
  padding-top: .3em;
  padding-bottom: .3em;
  margin-bottom: .5em;
}


$player-1: #002c9f;
$player-2: #00c19e;
$player-3: #770092;
$player-4: #f2d500;
$player-5: #ff7d29;
$player-6: #ff44ab;
$player-7: #727272;
$player-8: #00a0da;
$player-9: #006448;
$player-10: #562507;

.player-1 {
  border-left: $player-1 2px solid;
}
.player-2 {
  border-left: $player-2 2px solid;
}
.player-3 {
  border-left: $player-3 2px solid;
}
.player-4 {
  border-left: $player-4 2px solid;
}
.player-5 {
  border-left: $player-5 2px solid;
}
.player-6 {
  border-left: $player-6 2px solid;
}
.player-7 {
  border-left: $player-7 2px solid;
}
.player-8 {
  border-left: $player-8 2px solid;
}
.player-9 {
  border-left: $player-9 2px solid;
}
.player-10 {
  border-left: $player-10 2px solid;
}
.Hellbourne {
  color: $red;
}
.Legion {
  color: $green;
}

.nav-item > .active {
  background-color: darken($body-bg, 6%);
  border-bottom: 1px $white solid;
  color: $body-color;
}
a > .navbar-brand {
  color: $body-color;
}
.navbar-brand > span {
  color: $blue;
}
.bg-darker {
  background-color: darken($body-bg, 2%);
}
.statsbar {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.1rem;
  }
}
a:hover {
  cursor: pointer;
}
.gold {
  color: gold;
}

legend {
  margin-bottom: 0.1rem;
}
legend > small {
  font-size: 50%;
}


.bar {
  height: 4px;
  margin-top: 3px;
  width: 92%;
  font-size: 0;
}
.bar .segment {
  background: lighten($body-bg, 20%);
  content: ".";
  display: inline-block;
  height: 4px;
  text-indent: -2000px;
  vertical-align: top;
}
.bar .kills {
  background: $red;
}
.bar .deaths {
  // background: blue;
}
.bar .assists {
  background: $green;
}

.page-link {
  border-color: darken($white, 20%);
}
.page-item.active .page-link {
  border-color: #fff;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
}
