@import "custom";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/print";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities";


// spinner
$spinkit-spinner-color: #fff;
$spinkit-spinner-margin: 1em auto;
$spinkit-size: 2em;
@import 'node_modules/spinkit/scss/spinners/7-three-bounce';

.bg-lighter {
  background-color: lighten($body-bg, 10%);
}
.navbar {
  padding-top: .3em;
  padding-bottom: .3em;
  margin-bottom: .5em;
}


$player-1: #002c9f;
$player-2: #00c19e;
$player-3: #770092;
$player-4: #f2d500;
$player-5: #ff7d29;
$player-6: #ff44ab;
$player-7: #727272;
$player-8: #00a0da;
$player-9: #006448;
$player-10: #562507;

.player-1 {
  border-left: $player-1 2px solid;
}
.player-2 {
  border-left: $player-2 2px solid;
}
.player-3 {
  border-left: $player-3 2px solid;
}
.player-4 {
  border-left: $player-4 2px solid;
}
.player-5 {
  border-left: $player-5 2px solid;
}
.player-6 {
  border-left: $player-6 2px solid;
}
.player-7 {
  border-left: $player-7 2px solid;
}
.player-8 {
  border-left: $player-8 2px solid;
}
.player-9 {
  border-left: $player-9 2px solid;
}
.player-10 {
  border-left: $player-10 2px solid;
}
.Hellbourne {
  color: $red;
}
.Legion {
  color: $green;
}

.nav-item > .active {
  background-color: darken($body-bg, 6%);
  border-bottom: 1px $white solid;
  color: $body-color;
}
a > .navbar-brand {
  color: $body-color;
}
.navbar-brand > span {
  color: $blue;
}
.bg-darker {
  background-color: darken($body-bg, 2%);
}
.statsbar {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.1rem;
  }
}
a:hover {
  cursor: pointer;
}
.gold {
  color: gold;
}

legend {
  margin-bottom: 0.1rem;
}
legend > small {
  font-size: 50%;
}


.bar {
  height: 4px;
  margin-top: 3px;
  width: 92%;
  font-size: 0;
}
.bar .segment {
  background: lighten($body-bg, 20%);
  content: ".";
  display: inline-block;
  height: 4px;
  text-indent: -2000px;
  vertical-align: top;
}
.bar .kills {
  background: $red;
}
.bar .deaths {
  // background: blue;
}
.bar .assists {
  background: $green;
}

.page-link {
  border-color: darken($white, 20%);
}
.page-item.active .page-link {
  border-color: #fff;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
