/* You can add global styles to this file, and also import other style files */

$brand-primary: #228B22;
$white:  #fff;
$black:  #000;
$red:    #DB504A;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #228B22;
$blue:   #0275d8;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;
$grid-gutter-width-base: 30px;
$grid-gutter-widths: (
  xs: 10px,
  sm: 10px,
  md: 20px,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);
$font-size-base: .9rem;
// $table-bg: lightgrey;
$container-max-widths: (
  sm: 540px,
  md: 700px,
  lg: 992px,
  xl: 1200px
);

@import "node_modules/bootstrap/scss/custom";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Reset and dependencies
@import "node_modules/bootstrap/scss/normalize";
@import "node_modules/bootstrap/scss/print";

// Core CSS
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";

// Components
@import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
// @import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/responsive-embed";
// @import "node_modules/bootstrap/scss/close";

// Components w/ JavaScript
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";

// Utility classes
@import "node_modules/bootstrap/scss/utilities";

// import all
// @import "node_modules/bootstrap/scss/bootstrap";


$player-1: #002c9f;
$player-2: #00c19e;
$player-3: #770092;
$player-4: #f2d500;
$player-5: #ff7d29;
$player-6: #ff44ab;
$player-7: #727272;
$player-8: #00a0da;
$player-9: #006448;
$player-10: #562507;

.player-1 {
  border-left: $player-1 2px solid;
}
.player-2 {
  border-left: $player-2 2px solid;
}
.player-3 {
  border-left: $player-3 2px solid;
}
.player-4 {
  border-left: $player-4 2px solid;
}
.player-5 {
  border-left: $player-5 2px solid;
}
.player-6 {
  border-left: $player-6 2px solid;
}
.player-7 {
  border-left: $player-7 2px solid;
}
.player-8 {
  border-left: $player-8 2px solid;
}
.player-9 {
  border-left: $player-9 2px solid;
}
.player-10 {
  border-left: $player-10 2px solid;
}
.Hellbourne {
  color: $brand-danger;
}
.Legion {
  color: $brand-success;
}

.navbar-brand > span {
  color: $brand-primary;
}
.nav-link {
  color: lighten($body-color, 20%);
}
.nav-link:hover {
  color: $body-color;
  background-color: darken($body-bg, 10%);
}
.nav-item > .active {
  background-color: darken($body-bg, 10%);
  border-bottom: 1px $brand-primary solid;
  color: $body-color;
}

.bg-darker {
  background-color: darken($body-bg, 7%);
}


.bar {
  height: 4px;
  margin-top: 3px;
  width: 98%;
}
.bar .segment.segment-kill, .bar .segment.segment-damage, .bar .segment.segment-physical {
    background: #EA030E;
}
.bar .segment {
    background: white;
    content: ".";
    display: inline-block;
    height: 4px;
    text-indent: -2000px;
    vertical-align: top;
}
.bar .segment.segment-death, .bar .segment.segment-dn {
    background: #979797;
}
.bar .segment.segment-win, .bar .segment.segment-assist, .bar .segment.segment-healing, .bar .segment.segment-lh {
    background: #A9CF54;
}
.bar .segment.segment-duration {
  background: $brand-info;
}
