<div class="row">
  <div class="col mt-3">
    <div class="alert alert-info" role="alert">
      <strong>Warning!</strong> This is in beta.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 mb-2 mt-2" *ngIf="loading">
    <h1>Loading...</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 mb-2 mt-2" *ngFor="let hero of herostats?.avg">
    <div class="card">
      <div class="card-block p-0">
        <!--<hb-line [stats]="herostats.week[hero.hero_id]"></hb-line>-->
      </div>
      <div class="card-block text-center">
        <h5 class="card-title">
          <img width="60" height="60" src="https://www.heroesofnewerth.com/images/heroes/{{hero.hero_id}}/icon_128.jpg">
        </h5>
        <h5 class="card-title">
          Win Rate: {{ hero.percent * 100 | number:'1.2-2' }}%
        </h5>
        <h5 class="card-title">
          Pick Rate: {{ hero.pickRate * 100 | number:'1.2-2' }}%
        </h5>
      </div>
    </div>
  </div>
</div>
