<div class="row">
  <div class="col-md-12 col-lg-8">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 mt-1">
        <form class="input-group mb-3" (ngSubmit)="goPlayer()">
          <input [(ngModel)]="search" name="search" type="text" class="form-control" placeholder="nickname"
            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">Go</button>
          </span>
        </form>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mt-1 mb-3">
        <form class="input-group mb-3" (ngSubmit)="goMatch()">
          <input [(ngModel)]="match" name="match" type="text" class="form-control" placeholder="match id"
            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">Go</button>
          </span>
        </form>
      </div>
    </div>
    <ng2-adsense class="mb-3 adsbygoogle"></ng2-adsense>
    <div class="row mt-1 mb-1">
      <div class="col-lg-12 text-center text-md-left">
        <legend>Live on Twitch</legend>
      </div>
      <div class="col-xs-6 col-md-6 mb-2" *ngIf="!twitch">
        <hb-loading></hb-loading>
      </div>
      <div class="col-6 mb-3 text-center text-md-left" *ngFor="let t of twitch">
        <a [href]="t.channel.url" target="_blank">
          <img [src]="t.preview.medium" class="img-fluid" [alt]="t.channel.display_name">
        </a>
        <h5 class="p-0 m-0 pt-1 text-truncate">
          <a [href]="t.channel.url" target="_blank">{{ t.channel.status }}</a>
        </h5>
        <span class="text-warning">{{ t.viewers }}</span> viewers on
        <a [href]="t.channel._links.self">{{ t.channel.display_name }}</a>
      </div>
    </div>
    <ng2-adsense></ng2-adsense>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card mb-3">
      <div class="card-body pb-1">
        <h4 class="card-title pb-0">Recent Matches</h4>
      </div>
      <div class="card-body" *ngIf="!recent">
        <hb-loading></hb-loading>
      </div>
      <ul class="list-group list-group-flush" *ngIf="recent">
        <li class="list-group-item" *ngFor="let r of recent">
          <a [routerLink]="['/match', r.id]">
            {{ r.id }} - {{ r.date | timeAgo }}
          </a>
          <span class="text-muted ml-1 text-nowrap">{{ r.mode }}</span>
        </li>
      </ul>
    </div>

    <div class="card">
      <div class="card-body pb-1">
        <h4 class="card-title pb-0">Stats</h4>
      </div>
      <div class="card-body" *ngIf="!matches">
        <hb-loading></hb-loading>
      </div>
      <ul class="list-group list-group-flush" *ngIf="matches">
        <li class="list-group-item">
          <strong class="mr-1">total matches:</strong> {{ matches }}m
        </li>
        <li class="list-group-item">
          <strong class="mr-1">Loaded 24 hrs:</strong> {{ loadedLastDay | number }}
        </li>
      </ul>
    </div>


  </div>
</div>
